/*
Google Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
/*
Global style
*/
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  background-image: url(../images/donut.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-color: #f8db27;
  color: #ffffff;
  font-family: 'Gloria Hallelujah', cursive;
  backdrop-filter: blur(3px);
  
}
/*
Styling titles on page and in pop up box
*/
#title {
display: flex;
justify-content: center;
align-items: center;
color: #ffffff;
font-weight: normal;
text-align: center;
font-size: 40px;
}
/*
Styling to the timer and moves counter
*/
.infoContainer {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.gameInfo {
  color: #ffffff;
  font-size: 20px;
}
/*
Styling the game container
*/
.gameContainer {
  margin: 5px 0 10px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}
/*
Styling the divs that hold the game cards
*/
.memoryCard {
  position: relative;
  cursor: pointer;
  height: 200px;
  width: 200px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}
/*
Making the cards rotate 
*/
.memoryCard:active {
  transform: scale(.97);
  transition: transform .2s;
}
.memoryCard.flip {
  transform: rotateY(180deg);
}
/*
Styling to the cards
*/
.cardFront,
.cardBack {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3px;
  background:#ffffff;
  border-radius: 12px;
  border-width: .2px;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}
/*
Making the cards rotate 
*/
.cardFront {
  transform: rotateY(180deg);
}
/*
Styling the buttons
*/
.styleBtn {
  display: inline-block;
  text-decoration: none;
  color: #0d0d2f;
  border: 1px solid #2f64d6;
  padding: 12px 34px;
  font-size: 14px;
  font-family: 'Gloria Hallelujah', cursive;
  background: #2f64d6;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  transition: 1s;
}
.styleBtn:hover {
  border: 1px solid #ff81c1;
  background: #ff81c1;
  color: #0d0d2f;
  text-decoration: none;
  transition: 1s;
}
/*
Styling the gamePlay instructions
*/
.gamePlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.rulesCard {
  border: 0.8em solid #ff81c1;
  background-color: #ffffff;
  border-radius: 12px;
  margin: 100px 500px 100px;
  padding: 300px;
  justify-content: center;
}
.rulesList {
  font-weight: 600;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.rulesList li {
  font-family: 'Gloria Hallelujah', cursive;
  margin-bottom: 25px;
  color: black;
  text-align: center;
}
/*
Styling the winners message
*/
.win {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Gloria Hallelujah', cursive;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color:black;
}
/*
styling the paragraphs
*/
p {
  font-size: 120%;
  padding-bottom: 20px;
}
.win-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 20px 150px;
  border: 0.8em solid #ff81c1;
  padding: 20px 40px;
  border-radius: 20px;
}
/*
Styling the close icon on winners message
*/
.close {
  align-self: flex-end;
  color: #2f64d6;
  font-size: 7px;
}
.close:hover,
.close:focus {
  color: #ff81c1;
  text-decoration: none;
  cursor: pointer;
}
/*
Media Queries
*/
@media only screen and (max-width: 600px) {
  .gamePlay{
    margin: 0;
  }
  .rulesCard {
    margin: 5px 15px 15px;
    padding: 0 20px 10px;
  }
  .win {
    margin: 0;
  }
  .win-content {
    margin: 20px 20px 40px;
    padding: 20px;
  }
  p {
    font-size: 16px;
    padding-bottom: 20px
  }
  .close {
    font-size: 2.5em;
    padding-bottom: 20px;
  }
  #title {
    font-size: 28px;
    }
  .infoContainer {
    padding: 0 15px;
    font-size: 10px;
  }
  .gameInfo {
    font-size: 2em;
  }
  .gameContainer {
    width: 100vw;
    grid-gap: 5px;
    margin: 50px auto;
  }
  .memoryCard {
    height: 80px;
    width: 80px;
  }
  .cardFront,
  .cardBack {
    padding: 1px;
  }
  .styleBtn {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .gameContainer {
    margin: 10px 0 40px;
  }
  .rulesCard {
    margin: 10px 50px 10px;
    padding: 50px;
  }
}
@media (min-width: 1200px) {
  .infoContainer {
    padding: 0 20px;
  }
  .gameContainer {
    margin: 50px 0 50px;
  }
  .gameInfo {
    color: #ffffff;
    font-size: 2em;
  }
  .memoryCard {
    height: 100px;
    width: 100px;
  }
  .cardFront,
  .cardBack {
    padding: 5px;
    border-width: 1px;
  }
  .styleBtn {
    padding: 12px 34px;
    font-size: 20px;
  }
  .win {
    padding: 0 350px;
    color: black;
  }
  .win-content {
    padding: 20px;
  }
  .close {
    font-size: 2.5em;
    padding-bottom: 20px;
  }
  .rulesCard {
    margin: 100px 500px 100px;
    padding: 50px;
  }
}

