/*
importing google fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
/*
Styling body of website
*/
body {
  margin: 0;
  background-image: url(../images/Donut.jpg);
  background-position:bottom;
  background-repeat: no-repeat;
  background-color: #f8db27;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}
/*
Styling the title of the website
*/
#title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: normal;
  text-align: center;
  font-size: 78px;
  }
/*
Styling for the timer and moves counter
*/
.infoContainer {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
}
/*
Styling for the timer and moves counter
*/
.gameInfo {
  color: white;
  font-size: 25px;
}
/*
Styling for the Game
*/
.gameContainer {
  margin-top: 5px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 5px;
  justify-content: center;
  perspective: 1000px;
}
/*
Style added to dav class that contains the game cards
*/
.memoryCard {
  position: relative;
  cursor: pointer;
  height: 128px;
  width: 128px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}
.memoryCard:active {
  transform: scale(.97);
  transition: transform .2s;
}
.memoryCard.flip {
  transform: rotateY(180deg);
}
/*
Style added to game cards within the div class memoryCard
*/
.cardFront,
.cardBack {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3px;
  background: white;
  border-radius: 12px;
  border-width: .2px;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}
.cardFront {
  transform: rotateY(180deg);
}
/*
Added styling to butons
*/
.styleBtn {
  display: inline-block;
  text-decoration: none;
  color: #0d0d2f;
  border: 2px solid #2f64d6;
  padding: 10px 30px;
  font-size: 12px;
  background: #2f64d6;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  transition: 1.5s;
}
.styleBtn:hover {
  border: 2px solid #ff81c1;
  background: #ff81c1;
  color: #0d0d2f;
  text-decoration: none;
  transition: 1.5s;
}
/*
Styling for Game Play Instructions
*/
.gamePlay {
  display: none;
  background-color: black;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.rulesCard {
  font-family:'Gloria Hallelujah', cursive;
  border: 0.8em solid #ff81c1;
  background-color: white;
  border-radius: 20px;
  margin-top: 100px;
  margin-left: 500px;
  margin-right: 500px; 
  margin-bottom: 100px;
  padding: 500px;
  justify-content: center;
}
.rulesList {
  font-weight: 500;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.rulesList li {
  margin-bottom: 25px;
  color: black;
  text-align: center;
}
/*
Styling for winners message
*/
.win {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  color:black;
}
p {
  font-size: 120%;
  padding-bottom: 20px;
}
.win-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: 15px;
  margin-left: 140px;
  margin-right: 140px;
  border: 0.8em solid #ff81c1;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}
/*
Media Queries
*/ 
@media screen and (max-width: 1200px){
  .infoContainer {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .gameContainer {
    margin-top: 40px;
    margin-bottom:  40px;
  }
  .gameInfo {
    color: white;
    font-size: 2em;
  }
  .memoryCard {
    height: 128px;
    width: 128px;
  }
  .cardFront,
  .cardBack {
    padding: 5px;
    border-width: 1px;
  }
  .styleBtn {
    padding-top: 12px;
    padding-left:  30px;
    padding-right: 30px;
    font-size: 20px;
  }
  .win {
    padding-top: 0;
    padding-right:  350px;
    padding-left: 350px;
    color: black;
  }
  .win-content {
    padding: 20px;
  }
  .close {
    font-size: 2.5em;
    padding-bottom: 20px;
  }
  .rulesCard {
    margin-top: 100px;
    margin-left:  500px;
    margin-right: 500px;
    margin-bottom:  100px;
    padding: 50px;
  }
 }
 @media screen and (max-width: 900px){
  .gameContainer {
    margin: 10px 0 40px;
  }
  .rulesCard {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    padding: 50px;
  }

 }
 @media screen and (max-width: 575px){
  .instructions{
    margin: 0;
  }
  .rulesCard {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:  10px;
  }
  .win {
    margin: 0;
  }
  .win-content {
    margin-top: 20px;
    margin-left:  20px;
    margin-right: 20px;
    margin-bottom:  40px;
    padding: 20px;
  }
  p {
    font-size: 16px;
    padding-bottom: 20px
  }
  .close {
    font-size: 2.5em;
    padding-bottom: 20px;
  }
  #title {
    font-size: 28px;
    }
  .infoContainer {
    padding-top: 0;
    padding-left:  15px;
    padding-right: 15px;
    font-size: 10px;
  }
  .gameInfo {
    font-size: 2em;
  }
  .gameContainer {
    width: 100vw;
    grid-gap: 5px;
    margin: 50px auto;
  }
  .memoryCard {
    height: 70px;
    width: 70px;
  }
  .cardFront,
  .cardBack {
    padding: 3px;
  }
  .styleBtn {
    font-size: 14px;
  }
 }
